<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>NetTwitt</title>	
	<link rel="stylesheet" href="$siteroot/content/css/styles.css" type="text/css">
	
	<link rel="stylesheet" href="$siteroot/content/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="$siteroot/content/css/blueprint/print.css" type="text/css" media="print">
	<!--[if IE]><link rel="stylesheet" href="$siteroot/content/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>
<body>

	<div id="content">		
		<div id="sidebar">
			##Followers Component
			#component(Followers)		
		</div>	
		<ul class="menu">
			<li>$Url.Link('Home', "%{controller='Home',action='Index'}")</li>
			<li>$Url.Link('Search User', "%{controller='User',action='Search'}")</li>
		</ul>		
		$childContent		
	</div>
</body>
</html>
