#content
{
	width: 800px;
	margin: 30px auto;
}

#message, #tweets
{
	width: 500px;
	float: left;
}

#sidebar
{
	width: 200px;
	float: right;
	margin-right: 30px;
}

#tweet
{
	height: 4em;
	width: 488px;
}

.menu
{
	padding: 0.5em;
}

.login input[type="text"],
.login input[type="password"]
{
	width: 100%;
	margin-bottom: 0.5em;
}

.panel, .button
{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

.button
{
	float: right;
	
	background-color: #D5D5D5;
	border: 1px solid #CCCCCC;
	padding: 0.2em;
}

.button:hover
{
	background-color:#999999;
	cursor:pointer;
}

.twitt
{
	margin-bottom: 1em;
	border-bottom: dashed 1px #777;
	min-height: 50px;
	padding-bottom: 0.5em;
	width: 400px;
}

.twitt.last
{
	margin: 1em 0;
	border-bottom: none;
	min-height: 50px;
}

.twitt img
{
	float: left;
}

.twitt p
{
	float: left;
	margin-left: 0.5em;
}

.twitt .datetime
{
	clear: left;
	float: left;
	
	margin-top: 0.25em;
	
	color: #777;
}

.twitt br
{
	clear: both;
}
