<fieldset id="message" class="panel">
	<h3>User Name</h3>
	#set($searchUrl = $UrlHelper.For("%{controller='User' action='Search'}") )
	<form action="$searchUrl" method="post">
		<input id="username" name="username"></input>
		<input class="button" type="submit" value="Search" />
	</form>
</fieldset>

#if ($users.Count > 0 )
	<fieldset id="tweets" class="panel">
	#foreach( $user in $users)
		<div class="twitt">
		<img src="$siteroot/content/images/user.jpeg" alt="$User.Name" />
		<p>
			#set($urlUser = $UrlHelper.For("%{controller='home' action='Index'}") )
			<a href="$!urlUser">$User.Name</a> <br />
			
			#set($followUrl = $UrlHelper.For("%{controller='User' action='Follow'}") )
	
			<form action="$!followUrl" method="post">
			<input type="submit" value="Follow"/>
			<input type="hidden" value="$user.id" name="user.id"/>			
			</form>
		</p>
		<br />
		</div>	
	#end
	</fieldset>
#end