<h3><b>$!User.Name's</b> Twitts</h3>
<fieldset id="tweets" class="panel">
#foreach( $twitt in $user.Twitts)
	<div class="twitt">
	<img src="$siteroot/content/images/user.jpeg" alt="$twitt.User.Name" />
	<p>
		#set ($twittsUrl= $UrlHelper.For("%{controller='User',action='Twitts',querystring='id=$twitt.user.id'}"))
		
		<a href="$twittsUrl">$twitt.User.Name</a> 
		<span class="message-content">$!twitt.Message</span>
	</p>
	<span class="datetime">$twitt.Posted</span>
	<br />
	</div>	
#end
</fieldset>