#if($error)
<p>
<b><font color="red"> $error </font></b>
</p>
#end

#set($urlregister = $UrlHelper.For("%{controller='User' action='Save'}") )

<form method="post" action="$urlregister">

<fieldset style="width: 400px;">
	<legend>Register</legend>
	<p>To create a new Account</p>
	<p>
	Username 
	</p><p>
	$FormHelper.TextField("user.Username")
	</p><p>
	Password
	</p><p>
	 $FormHelper.PasswordField("user.Password")
	</p><p>
	Email
	</p><p>
	$FormHelper.TextField("user.Email")
	</p><p>
	Name
	</p><p>
	$FormHelper.TextField("user.Name")
	</p><p>
	Bio</p><p>
	$FormHelper.TextField("user.bio")
	</p>
	<hr noshade="true" size="1" />
	
	<input type="submit" value="Register" />
	
	
</fieldset>
