<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>
	
	<appSettings/>
	<connectionStrings/>

  <castle>
	<include uri="file://Config/services.config"/>
  </castle>

	<monorail useWindsorIntegration="true">
		<controllers>
			<assembly>NetTwitt</assembly>
		</controllers>
	  <viewEngine
		  viewPathRoot="Views"
		  customEngine="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity"/>
	</monorail>
	
	<activerecord isWeb="true">
		<config>
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			<add key="show_sql" value="false"/>
			<add key="dialect" value="NHibernate.Dialect.MsSql2000Dialect"/>
			<!--<add key="connection.provider" value="NHibernate.Driver.DriverConnectionProvider"/>-->
			<add key="connection.connection_string" value="Data Source=.;Initial Catalog=NetTwitt;User ID=sa;Password=asdfgh"/>			
		</config>
	</activerecord>
	
	<system.web>
		
		<httpHandlers>
			<add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
			<!-- block direct user access to template files -->
			<add verb="*" path="*.brail" type="System.Web.HttpForbiddenHandler"/>
			<add verb="*" path="*.brailjs" type="System.Web.HttpForbiddenHandler"/>
			<add verb="*" path="*.vm" type="System.Web.HttpForbiddenHandler"/>
		</httpHandlers>
		
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
