/* ------------- inline tables ------------- */
table.inline {background-color: #fff; border-spacing: 0px; border-collapse: collapse; width: 100%; }
table.inline th {padding: 3px; border: 1px solid #CCCCCC; background-color: #EFEFEF;}
table.inline td {padding: 3px; border: 1px solid #CCCCCC; }
