
#if($error)
<p>
<b><font color="red"> $error </font></b>
</p>
#end

<form method="post" action="login.rails?ReturnUrl=$ReturnUrl">

<fieldset style="width: 400px;">
	<legend>Authentication</legend>
	
	<p>
	Username: $FormHelper.TextField("username")
	</p>
	<p>
	Password: $FormHelper.PasswordField("password")
	</p>
	
	<hr noshade="true" size="1" />
	
	<input type="submit" value="Log in" />
		#set($registerUrl = $UrlHelper.For("%{controller='User' action='Register'}") )
	<p>Or <a href="$registerUrl">Register</a></p>
</fieldset>

</form>